{% extends "base.html.twig" %}
{% block content %}
 
  <div class="page-content"><span style="color: red; font-size: 75px;">
    ACCOUNT INFORMATION
  </div>
  
  <div class="page-content"><span style="color: black; font-size: 25px;">
    Name:
   
     </div>
  <div class="page-content"><span style="color: black; font-size: 25px;">
    Date of Birth:

     </div>
  <div class="page-content"><span style="color: black; font-size: 25px;">
    Address:

     </div>
  <div class="page-content"><span style="color: black; font-size: 25px;">
    Phone Number:

     </div>
  <div class="page-content"><span style="color: black; font-size: 25px;">
    Email:

     </div>
  <div class="page-content"><span style="color: black; font-size: 25px;">
    Password:

    </div>
    <div class="mdl-cell mdl-cell--6-col mdl-card mdl-shadow--2dp mdl-typography--text-center">
        <div class="mdl-card__title">
          <h2 class="mdl-card__title-text">Login</h2>
 </div>
 </div>

{% endblock %}
