{% extends "base.html.twig" %}
{% block content %}
 
  <div class="page-content"><span style="color: red; font-size: 75px;">
    ACCOUNT INFORMATION
  </div>
  
  <div class="page-content"><span style="color: black; font-size: 25px;">
    Name:
   
     </div>
  <div class="page-content"><span style="color: black; font-size: 25px;">
    Date of Birth:

     </div>
  <div class="page-content"><span style="color: black; font-size: 25px;">
    Address:

     </div>
  <div class="page-content"><span style="color: black; font-size: 25px;">
    Phone Number:

     </div>
  <div class="page-content"><span style="color: black; font-size: 25px;">
    Email:

     </div>
  <div class="page-content"><span style="color: black; font-size: 25px;">
    Password:

    </div>
<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
  Edit
</button>

{% endblock %}
