{% extends "base.html.twig" %}
{% block content %}
  <div class="page-content"><span style="color: red; font-size: 100px;">
    ACCOUNT INFORMATION
  </div>
  
  <div class="page-content"><span style="color: black; font-size: 25px;">
    Name:
    ________ ____________
    Date of Birth
    __/__/__
    Address:
    __________________________________
    __________________________________
    Phone Number:
    (___)___-____
    Email:
    ________________________
    Password
    _______________
    </div>

{% endblock %}
