{% extends "base.html.twig" %}
{% block content %}
  <div class="page-content"><span style="color: red; font-size: 75px;">
    ACCOUNT INFORMATION
  </div>
  
  <div class="page-content"><span style="color: black; font-size: 25px;">
    Name:
    ________ ____________
     </div>
  <div class="page-content"><span style="color: black; font-size: 25px;">
    Date of Birth:
    __/__/__
     </div>
  <div class="page-content"><span style="color: black; font-size: 25px;">
    Address:
    __________________________________
    __________________________________
     </div>
  <div class="page-content"><span style="color: black; font-size: 25px;">
    Phone Number:
    (___)___-____
     </div>
  <div class="page-content"><span style="color: black; font-size: 25px;">
    Email:
    ________________________
     </div>
  <div class="page-content"><span style="color: black; font-size: 25px;">
    Password:
    _______________
    </div>

{% endblock %}
