{% extends "base.html.twig" %}

{% block content %}
  <div class="page-content"><span style="color: green; font-size: 100px;">
    Hello user! Welcome to the MJGT Banking Application!
  </div>
  <?php
echo ' 
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "https://i.ytimg.com/vi/EmNPxW-8qD4/hqdefault.jpg">
<html>
<img src="/images/image1.png" width="280" height="125" title="Logo of a company" alt="Logo of a company" />

</html>
';
?>
{% endblock %}

{# this is just an example for how to use mdl-grid #}
{% block dontshow %}
  <div class="page-content">
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--4-col">TEST</div>
      <div class="mdl-cell mdl-cell--4-col">TEST</div>
      <div class="mdl-cell mdl-cell--4-col">TEST</div>
    </div>
  </div>
{% endblock %}
