{% extends "base.html.twig" %}

{% block content %}
  <div class="page-content"><span style="color: green; font-size: 100px;">
    Hello user! Welcome to the MJGT Banking Application!
  </div>
echo "<img src='https://i.ytimg.com/vi/EmNPxW-8qD4/hqdefault.jpg' width='60' height='80' />";
{% endblock %}

{# this is just an example for how to use mdl-grid #}
{% block dontshow %}
  <div class="page-content">
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--4-col">TEST</div>
      <div class="mdl-cell mdl-cell--4-col">TEST</div>
      <div class="mdl-cell mdl-cell--4-col">TEST</div>
    </div>
  </div>
{% endblock %}
