{% extends "base.html.twig" %}

{% block content %}
  <div class="page-content">
    Hello world! This is a test!
  </div>
{% endblock %}

{# this is just an example for how to use mdl-grid #}
{% block dontshow %}
  <div class="page-content">
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--4-col">TEST</div>
      <div class="mdl-cell mdl-cell--4-col">TEST</div>
      <div class="mdl-cell mdl-cell--4-col">TEST</div>
    </div>
  </div>
{% endblock %}
